# Copyright (c) 2020 Genome Research Ltd.
#
# Author: Christopher Harrison <ch12@sanger.ac.uk>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at
# your option) any later version.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.

readonly KRB_CONF="${KRB_CONF-/etc/krb5.conf}"

trim() {
  # Trim whitespace
  awk '{ $1 = $1; print }'
}

krb_libdefaults() {
  # Remove comments and extract libdefaults section from Kerberos config
  sed 's/#.*//' "${KRB_CONF}" \
  | awk '/\[.*\]/ { libdefaults = 0 }
         /\[libdefaults\]/ { libdefaults = 1 }
         libdefaults { print $0 }'
}

krb_realm() {
  # Extract Kerberos realm
  krb_libdefaults \
  | awk -F'=' '/default_realm/ { print $2 }' \
  | trim
}

krb_ciphers() {
  # Extract permitted Kerberos ciphers
  krb_libdefaults \
  | awk -F'=' '/permitted_enctypes/ { print $2 }' \
  | trim
}
